/* GENERAL */

@import url('https://fonts.cdnfonts.com/css/sf-pro-display');

* {
    margin: 0;
    padding: 0;
    font-family: "SF Pro Display", sans-serif;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
} 

button {
    color: black;
    background-color: #E8E8FF;
    font-weight: 600;
    transition: all 300ms ease;
    padding: 0.6rem;
    width: 2.3rem;
    border-radius: 1.7rem;
    text-decoration: none;
    border: rgb(53, 53, 53) 0.1rem solid;
}

.button-switch {
    padding: 0.9rem;
    width: 6rem;
    border-radius: 1.7rem;
}

.button-reset {
    padding: 0.9rem;
    width: 6rem;
    border-radius: 1.7rem;
}

button:hover {
    background-color: #c4c4ff;    
    cursor: pointer;
}


.icon {
    cursor: pointer;
    height: 2.3rem;
}

.icon-logo {
    cursor: default;
    height: 2.3rem; 
}

.crypto-icon {
    display: flex;
    cursor: default;
    height: 1.2rem; 
}